.sidebar {
  /* justify-content: space-between; */
  border-right: 1px solid var(--twitter-background);
  min-width: 250px;
  flex: 0.3;
  margin-left: 50px;
}

.anchor_tag {
  text-decoration: none;
}

.sidebar_logout {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 10px !important;
  width: 90% !important;
}

.sidebar_twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin: 10px 20px;
  margin-bottom: 20px;
}

